<h1>Geocaches</h1>

<form>
  <div class="form-group">
    <label>name</label>
    <input type="text" #geoName>
    <label>Enter Physical Address or GPS Coordinates</label>
    <input type=address #geocacheAddress>
    <label>Creator</label>
    <input type=address #geoCreator>
  </div>
    <label for="camera">Camera</label>
  <button (click)="submitForm(geoName.value,geocacheAddress.value, geoCreator.value); geoName.value=''; geocacheAddress.value='';geoCreator.value=''">Get Address</button>
</form>
